# LibreOffice stuff
.~lock*

# No more Zotero BetterBibTex means we have to fix citation keys by hand
# Makefile does that for us, but we don't keep the left-overs
content/bibliography-fixed.bib

# Svg latex package
svg-inkscape/

# Built pdfs
thesis.pdf
abstract.pdf
résumé.pdf

# Intermediary tex files
thesis.tex
abstract.tex
résumé.tex

# Build files
creationdate.lua
creationdate.timestamp
pdfa.xmpi
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.run.xml
*.toc
*.xdv
